force-app/main/default/flows/Post_to_Slack_From_Salesforce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Endpoint</name>
        <label>Post to Slack Endpoint</label>
        <locationX>1046</locationX>
        <locationY>554</locationY>
        <actionName>SlackPostHTTP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference
                >slackMessageTemplateNoRelatedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackUrl</name>
            <value>
                <elementReference>varWebhookURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tokenId</name>
            <value>
                <stringValue
                >Gsx2MTeB5FJFWgIMaO5L+09yMIQ72ntW0FtzSaZ/somCWAyhI2FkwnKxZNtbZAt06M6EO3+jQMuzni1QKnRnvPDthkEMBhiPXTr0ioJsXLKgLqlj7KRiwQ8BucovgnFB</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Endpoint_0</name>
        <label>Post to Slack Endpoint</label>
        <locationX>1272</locationX>
        <locationY>144</locationY>
        <actionName>SlackPostHTTP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference
                >slackMessageTemplateNoRelatedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackUrl</name>
            <value>
                <elementReference>varWebhookURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tokenId</name>
            <value>
                <stringValue
                >Gsx2MTeB5FJFWgIMaO5L+09yMIQ72ntW0FtzSaZ/somCWAyhI2FkwnKxZNtbZAt06M6EO3+jQMuzni1QKnRnvPDthkEMBhiPXTr0ioJsXLKgLqlj7KRiwQ8BucovgnFB</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Endpoint_0_0</name>
        <label>Post to Slack Endpoint</label>
        <locationX>1168</locationX>
        <locationY>344</locationY>
        <actionName>SlackPostHTTP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Finish_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>messageText</name>
            <value>
                <elementReference
                >slackMessageTemplateRelatedCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackUrl</name>
            <value>
                <elementReference>varWebhookURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tokenId</name>
            <value>
                <stringValue
                >Gsx2MTeB5FJFWgIMaO5L+09yMIQ72ntW0FtzSaZ/somCWAyhI2FkwnKxZNtbZAt06M6EO3+jQMuzni1QKnRnvPDthkEMBhiPXTr0ioJsXLKgLqlj7KRiwQ8BucovgnFB</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Channel_ID</name>
        <label>Assign Channel ID</label>
        <locationX>647</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varChannelID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Loop_through_each_message_destination.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSlackChannelIDForURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Loop_through_each_message_destination.slackv2__Channel_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
            >Slack_Post_on_Specific_Case_Record_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Channel_ID_0</name>
        <label>Assign Channel ID</label>
        <locationX>589</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>varChannelID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Loop_through_each_message_destination_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSlackChannelIDForURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Loop_through_each_message_destination_0.slackv2__Channel_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
            >Loop_through_each_message_destination_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_text_input_to_varSlackMessage_0</name>
        <label>Assign text input to varSlackMessage</label>
        <locationX>452</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>varSlackMessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Slack_message_here_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
            >Loop_through_each_message_destination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_text_input_to_varSlackMessage_0_0</name>
        <label>Assign text input to varSlackMessage</label>
        <locationX>450</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>varSlackMessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Slack_message_here_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
            >Loop_through_each_message_destination_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceChannel</name>
        <choiceText>Channel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>channel</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUser</name>
        <choiceText>User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>user</stringValue>
        </value>
    </choices>
    <choices>
        <name>slackChannelCallNeededMultilingual</name>
        <choiceText>Call Needed - Multilingual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>call_needed-multilingual</stringValue>
        </value>
    </choices>
    <choices>
        <name>slackChannelDuplicatesLetters</name>
        <choiceText>Duplicates-Letters-Codes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>duplicates-letters-codes</stringValue>
        </value>
    </choices>
    <choices>
        <name>slackChannelQuestions</name>
        <choiceText>Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>slackChannelTechnology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>technology</stringValue>
        </value>
    </choices>
    <decisions>
        <name
        >If_linking_Slack_message_to_record_ID_ensure_flow_is_linked_to_an_actual_record</name>
        <label
        >If linking Slack message to record ID, ensure flow is linked to an actual record</label>
        <locationX>42</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Post_to_Slack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record ID is Not NULL</defaultConnectorLabel>
        <rules>
            <name>Record_ID_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_Slack_0</targetReference>
            </connector>
            <label>Record ID is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description
        >Determine if the user selected the box to post on a specific Case record or not.</description>
        <name>Slack_Post_on_Specific_Case_Record_or_Not</name>
        <label>Slack Post on Specific Case Record or Not</label>
        <locationX>831</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Query_for_Custom_Metadata_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel
        >Do Not Post on Case Record</defaultConnectorLabel>
        <rules>
            <name>Post_on_Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >Check_this_box_to_post_about_this_specific_MEDSS_case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_for_MEDSS_Event_Record</targetReference>
            </connector>
            <label>Post on Case Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaCaseRecordURL</name>
        <dataType>String</dataType>
        <expression
        >{!salesforceBaseURLLinkToCase}+{!varCurrentRecordID}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>salesforceDynamicLinkToCase</name>
        <dataType>String</dataType>
        <expression
        >{!salesforceBaseURLLinkToCase}&amp;{!varCurrentRecordID}</expression>
    </formulas>
    <formulas>
        <name>slackDynamicURL</name>
        <dataType>String</dataType>
        <expression>{!slackStaticURL}+{!varSlackChannelIDForURL}</expression>
    </formulas>
    <formulas>
        <name>userFullName</name>
        <dataType>String</dataType>
        <expression
        >{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel
    >Post to Slack From Salesforce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post to Slack From Salesforce</label>
    <loops>
        <name>Loop_through_each_message_destination</name>
        <label>Loop through each message destination</label>
        <locationX>647</locationX>
        <locationY>93</locationY>
        <collectionReference
        >Query_for_Slack_Message_Destination_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Channel_ID</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_each_message_destination_0</name>
        <label>Loop through each message destination</label>
        <locationX>589</locationX>
        <locationY>466</locationY>
        <collectionReference
        >Query_for_Slack_Message_Destination_Records_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Channel_ID_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Query_for_Custom_Metadata</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description
        >Query the Slack Webhook URLS custom metadata to get the corresponding webhook URL for the channel selected.</description>
        <name>Query_for_Custom_Metadata</name>
        <label>Query for Custom Metadata</label>
        <locationX>830</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound
        >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Slack_Endpoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_Channel_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSlackChannelIDForURL</elementReference>
            </value>
        </filters>
        <object>Slack_Webhook_URL__mdt</object>
        <outputAssignments>
            <assignToReference>varWebhookURL</assignToReference>
            <field>Webhook_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description
        >Query the Slack Webhook URLS custom metadata to get the corresponding webhook URL for the channel selected.</description>
        <name>Query_for_Custom_Metadata_0</name>
        <label>Query for Custom Metadata</label>
        <locationX>1026</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound
        >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Slack_Endpoint_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_Channel_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSlackChannelIDForURL</elementReference>
            </value>
        </filters>
        <object>Slack_Webhook_URL__mdt</object>
        <outputAssignments>
            <assignToReference>varWebhookURL</assignToReference>
            <field>Webhook_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description
        >Query the Slack Webhook URLS custom metadata to get the corresponding webhook URL for the channel selected.</description>
        <name>Query_for_Custom_Metadata_0_0</name>
        <label>Query for Custom Metadata</label>
        <locationX>1068</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound
        >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Slack_Endpoint_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_Channel_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSlackChannelIDForURL</elementReference>
            </value>
        </filters>
        <object>Slack_Webhook_URL__mdt</object>
        <outputAssignments>
            <assignToReference>varWebhookURL</assignToReference>
            <field>Webhook_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_for_MEDSS_Event_Record</name>
        <label>Query for MEDSS Event Record</label>
        <locationX>839</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_for_Custom_Metadata_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MEDSS_Event_ID__c</queriedFields>
        <queriedFields>MN_ID__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>County__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_for_Slack_Message_Destination_Records</name>
        <label>Query for Slack Message Destination Records</label>
        <locationX>382</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
            >Assign_text_input_to_varSlackMessage_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Select_Channel_to_post_Slack_Message_to</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>slackv2__Channel_Id__c</queriedFields>
        <queriedFields>slackv2__Channel_Name__c</queriedFields>
        <queriedFields>slackv2__Channel_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_for_Slack_Message_Destination_Records_0</name>
        <label>Query for Slack Message Destination Records</label>
        <locationX>222</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
            >Assign_text_input_to_varSlackMessage_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Select_Channel_to_post_Slack_Message_to_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>slackv2__Channel_Id__c</queriedFields>
        <queriedFields>slackv2__Channel_Name__c</queriedFields>
        <queriedFields>slackv2__Channel_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Flow_Finish_Screen</name>
        <label>Flow Finish Screen</label>
        <locationX>1448</locationX>
        <locationY>403</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_Slack_URL</targetReference>
        </connector>
        <fields>
            <name>MessagePostedToSlack</name>
            <fieldText
            >&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Your message will be posted in Slack!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Click &apos;Next&apos; to post the message and finish the steps.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_Slack_URL</name>
        <label>Open Slack URL</label>
        <locationX>1639</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redirect_To_SlackURL</name>
            <extensionName>c:redirectToURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlString</name>
                <value>
                    <elementReference>slackDynamicURL</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_to_Slack</name>
        <label>Post to Slack</label>
        <locationX>238</locationX>
        <locationY>197</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
            >Query_for_Slack_Message_Destination_Records</targetReference>
        </connector>
        <fields>
            <name>SlackHeader</name>
            <fieldText
            >&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Slack&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Channel_to_post_Slack_Message_to</name>
            <choiceReferences>slackChannelQuestions</choiceReferences>
            <choiceReferences>slackChannelTechnology</choiceReferences>
            <choiceReferences>slackChannelDuplicatesLetters</choiceReferences>
            <choiceReferences
            >slackChannelCallNeededMultilingual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Channel to post Slack Message to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Slack_message_here_3</name>
            <fieldText>Enter Slack message here:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_this_box_to_post_about_this_specific_MEDSS_case</name>
            <dataType>Boolean</dataType>
            <fieldText
            >Check this box to post about this specific MEDSS case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Click_Next_Slack_Post</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;*Enter Slack message details and click on the &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; button to post a message on Slack.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;**Replies to posts will be available in the Slack application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_to_Slack_0</name>
        <label>Post to Slack</label>
        <locationX>79</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
            >Query_for_Slack_Message_Destination_Records_0</targetReference>
        </connector>
        <fields>
            <name>SlackHeader_0</name>
            <fieldText
            >&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Slack&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Channel_to_post_Slack_Message_to_0</name>
            <choiceReferences>slackChannelQuestions</choiceReferences>
            <choiceReferences>slackChannelTechnology</choiceReferences>
            <choiceReferences>slackChannelDuplicatesLetters</choiceReferences>
            <choiceReferences
            >slackChannelCallNeededMultilingual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Channel to post Slack Message to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Slack_message_here_2</name>
            <fieldText>Enter Slack message here:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Click_Next_Slack_Post_0</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;*Enter Slack message details and click on the &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; button to post a message on Slack.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;**Replies to posts will be available in the Slack application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference
            >If_linking_Slack_message_to_record_ID_ensure_flow_is_linked_to_an_actual_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>slackMessageTemplateNoRelatedCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Posted by: {!userFullName}
{!varSlackMessageText}</text>
    </textTemplates>
    <textTemplates>
        <name>slackMessageTemplateRelatedCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Posted by: {!userFullName}
{!varSlackMessageText}

MEDSS Event: {!Query_for_MEDSS_Event_Record.MEDSS_Event_ID__c}
MN ID: {!Query_for_MEDSS_Event_Record.MN_ID__c}
Region: {!Query_for_MEDSS_Event_Record.Region__c}</text>
    </textTemplates>
    <variables>
        <name>salesforceBaseURLLinkToCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://mnitmdhctt.lightning.force.com/</stringValue>
        </value>
    </variables>
    <variables>
        <name>slackStaticURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://app.slack.com/client/T015RRC6B51/</stringValue>
        </value>
    </variables>
    <variables>
        <name>sObjCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varChannelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlackChannelIDForURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlackMessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The URL to post the message to in Slack.</description>
        <name>varWebhookURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
