force-app/main/default/flows/Review_User_Set_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>choiceCentralRegion</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceMetroRegion</name>
        <choiceText>Metro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Metro_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNortheastRegion</name>
        <choiceText>Northeast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Northeast_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNorthwestQuinRegion</name>
        <choiceText>Northwest Quin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Northwest_Quin_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNorthwestRegion</name>
        <choiceText>Northwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Northwest_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceQueue</name>
        <choiceText>Queue (Region)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSkill</name>
        <choiceText>Skill (County or Language)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skill</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSouthCentral</name>
        <choiceText>South Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>South_Central_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSoutheastRegion</name>
        <choiceText>Southeast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Southeast_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSouthwestRegion</name>
        <choiceText>Southwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Southwest_Region_Queue</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWestCentralRegion</name>
        <choiceText>West Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>West_Central_Region_Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Region_or_Skill_set_up_selected</name>
        <label>Region or Skill set-up selected?</label>
        <locationX>322</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Query_for_Skill_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skill Selected</defaultConnectorLabel>
        <rules>
            <name>Region_Queue_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >Select_user_set_up_configuration_to_review</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceQueue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_for_Region_Queue</targetReference>
            </connector>
            <label>Region Queue Selected</label>
        </rules>
    </decisions>
    <description
    >A screen flow to allow users to review the Queue and Skill assignments.</description>
    <interviewLabel>Review User Set-up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Review User Set-up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Query_for_Region_Queue</name>
        <label>Query for Region Queue</label>
        <locationX>601</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
            >Display_Queue_Assignments_Component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Select_Region_Queue_to_review</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_for_Skill_ID</name>
        <label>Query for Skill ID</label>
        <locationX>444</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
            >Display_Skill_Assignments_Component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >Enter_County_or_Language_Skill_to_review</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Queue_Assignments_Component</name>
        <label>Display Queue Assignments Component</label>
        <locationX>778</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayQueue</name>
            <fieldText
            >&lt;p&gt;Displaying all Queue members for: {!Query_for_Region_Queue.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayQueueMembersLWC</name>
            <extensionName>c:displayUserSkillsAndQueuesSetup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queueId</name>
                <value>
                    <elementReference
                    >Query_for_Region_Queue.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Skill_Assignments_Component</name>
        <label>Display Skill Assignments Component</label>
        <locationX>681</locationX>
        <locationY>467</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayQueue_0</name>
            <fieldText
            >&lt;p&gt;Displaying all users who have Skill: {!Query_for_Skill_ID.MasterLabel}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplaySkillAssignmentsLWC</name>
            <extensionName>c:displayUserSkillsAndQueuesSetup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>skillId</name>
                <value>
                    <elementReference>Query_for_Skill_ID.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_User_Set_up</name>
        <label>Review User Set-up</label>
        <locationX>137</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Region_or_Skill_set_up_selected</targetReference>
        </connector>
        <fields>
            <name>Select_user_set_up_configuration_to_review</name>
            <choiceReferences>choiceQueue</choiceReferences>
            <choiceReferences>choiceSkill</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select user set-up configuration to review:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_County_or_Language_Skill_to_review</name>
            <dataType>String</dataType>
            <fieldText
            >Enter County or Language Skill to review - enter the Skill name as either &quot;{Region} - {County Name}&quot; or &quot;Language - {Language Name}&quot; (i.e. Metro - Washington or Language - Spanish)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
                    >Select_user_set_up_configuration_to_review</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSkill</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Region_Queue_to_review</name>
            <choiceReferences>choiceCentralRegion</choiceReferences>
            <choiceReferences>choiceMetroRegion</choiceReferences>
            <choiceReferences>choiceNortheastRegion</choiceReferences>
            <choiceReferences>choiceNorthwestRegion</choiceReferences>
            <choiceReferences>choiceNorthwestQuinRegion</choiceReferences>
            <choiceReferences>choiceSouthCentral</choiceReferences>
            <choiceReferences>choiceSoutheastRegion</choiceReferences>
            <choiceReferences>choiceSouthwestRegion</choiceReferences>
            <choiceReferences>choiceWestCentralRegion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Region Queue to review:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference
                    >Select_user_set_up_configuration_to_review</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceQueue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Review_User_Set_up</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
